<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AppServlet</servlet-name>
  	<display-name>AppServlet</display-name>
  	<description></description>
  	<servlet-class>main.AppServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RiskAddServlet</servlet-name>
  	<display-name>RiskAddServlet</display-name>
  	<description></description>
  	<servlet-class>main.RiskAddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RiskStatusServlet</servlet-name>
  	<display-name>RiskStatusServlet</display-name>
  	<description></description>
  	<servlet-class>main.RiskStatusServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>main.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>main.RegisterServlet</servlet-class>  </servlet>

  
  <servlet-mapping>
  	<servlet-name>AppServlet</servlet-name>
  	<url-pattern>/AppServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RiskAddServlet</servlet-name>
  	<url-pattern>/RiskAddServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping> 
     <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping> 
</web-app>
